@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="height: 150px; display: flex; justify-content: center;">
    <button id="changeLocationsButton" style="width: 400px; text-align: center; font-size: 30px; height: 100px; background-color: #2F4EB4; color: #FFFFFF;">Lokasyonları Değiştir</button>
</div>